* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section {
    flex: 1;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section img {
    max-width: 80%;
}

.right-section {
    position: relative;
    flex: 1;
    padding: 50px;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

/* Capa de transparencia */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco semitransparente */
    z-index: 1;
}

.right-section h2, .login-form, .social-icons {
    position: relative;
    z-index: 2; /
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e91e63;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e91e63;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #d81b60;
}

/* Estilos de redes sociales */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #e91e63; /
    text-decoration: none;
}

.social-icons a:hover {
    color: #6f05d3; /* Cambia el color al pasar el ratón */
}

p {
    text-align: center;
    color: #333;
    margin-top: 20px;
}
